@font-face {
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: "DMSans";
  src: url("/fonts/DMSans_18pt-Regular.woff2");
}

@font-face {
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-family: "DMSans";
  src: url("/fonts/DMSans_18pt-Medium.woff2");
}

@font-face {
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-family: "Outfit";
  src: url("/fonts/Outfit-Medium.woff2");
}

@font-face {
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-family: "Outfit";
  src: url("/fonts/Outfit-SemiBold.woff2");
}

:root {
  --bg-color: #fff;
  --sidebar-bg-color: #f7f9fc;
  --gray-darker: #2e2e48;
  --gray-dark: #47516b;
  --gray-default: #79819a;
  --iris-100: #5d5fef;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: DMSans, sans-serif;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 5px;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
